html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-hero {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
}

.btn-container {
  width: 150%;
}

.hero-text-box {
  margin: 0 1.5rem;
}
.header-container {
  padding: 2rem;
}

.section-why-us {
  transform: skewY(0deg);
}

.skew-back {
  transform: skewY(0deg);
}

.best-flowers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

figure h3 {
  margin-bottom: 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
