.section-hero {
  display: flex;
  margin: 0;
  align-items: flex-start;
  height: 50vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.section-hero h1 {
  font-size: 8rem;
}

.hero-text {
  font-size: 2.4rem;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.hero-text-box {
  margin: 0 10rem;
  width: 90%;
}
.hero-img {
  width: 70%;
}
.about-us-section {
  width: 100%;
  padding-top: 10rem;
}

.section-container {
  padding: 10rem;
}

.best-flowers {
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
}

.section-testimonials {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  padding: 10rem;
}

footer {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer-text {
  flex-direction: column;
  gap: 1rem;
}
.footer-logo {
  width: 30%;
}
